@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: "Bodoni Moda SC", serif;
}
body{
    background: rgb(20,0,36);
background: linear-gradient(65deg, rgba(20,0,36,1) 0%, rgba(121,26,9,1) 37%, rgba(168,129,0,1) 100%);
}

#container{
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    margin: 5px 300px 100px 300px;
    padding: 10px;
    border-radius: 20px;
}
.img_mario img{
    border-radius: 20px;
}
.box1{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.titulo{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 30px;
}
.nac{
    margin-bottom: 30px;
    color: rgb(38,224,0);
    color: linear-gradient(237deg, rgba(38,224,0,1) 0%, rgba(206,214,0,1) 100%, rgba(250,255,28,1) 100%);
}
.desc{
    margin-bottom: 60px;
}

.a, .b, .c{
    margin-top: 15px;
    margin-bottom: 5px;
}
strong{
    color: rgb(0, 219, 0);
}
